####

Importing required modules

In [2]:
import pandas as pd
import json

###



match result details

In [3]:
with open (r"C:\Users\Denny\OneDrive\Desktop\data analysis cric\json files\t20_wc_match_results.json") as f:
    df=json.load(f)
df=pd.DataFrame(df[0]["matchSummary"])

In [4]:
df=df.rename({"scorecard":"match_id"},axis=1)

In [5]:
df2=df[["match_id","matchDate","team1","team2","winner","margin","ground"]]

In [6]:
match_results=df2

In [7]:
match_ids_dict = {}

for index, row in df2.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

###
Batting

In [8]:
with open(r"C:\Users\Denny\OneDrive\Desktop\data analysis cric\json files\t20_wc_batting_summary.json") as f:
    df=json.load(f)

In [9]:
all_runs=[]
for x in df:
    all_runs.extend(x['battingSummary'])

In [10]:
df=pd.DataFrame(all_runs)

In [11]:
df

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00

In [12]:
df["dismissal"]=df.dismissal.apply(lambda x:"out" if len(x)>0 else "not out")

In [13]:
df

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,out,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,out,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,out,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,out,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),out,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,out,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,not out,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,out,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,out,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,not out,1,1,0,0,100.00

In [14]:
def split(x):
    d=x.split("(")
    return d[0]

In [15]:
df.batsmanName=df.batsmanName.apply(split)

In [16]:
df

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,out,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,out,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,out,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,out,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,out,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,out,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,not out,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,out,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,out,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,not out,1,1,0,0,100.00

In [17]:
df["match_id"]=df["match"].map(match_ids_dict)

In [18]:
df1=df[["match_id","match","teamInnings","battingPos","batsmanName","dismissal","runs","balls","4s","6s","SR"]]

In [19]:
df1

,match_id,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,T20I # 1823,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,out,3,6,0,0,50.00
1,T20I # 1823,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,out,9,9,1,0,100.00
2,T20I # 1823,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,out,20,12,1,2,166.66
3,T20I # 1823,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,out,26,24,2,0,108.33
4,T20I # 1823,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,out,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...,...
694,T20I # 1879,Pakistan Vs England,England,3,Phil Salt,out,10,9,2,0,111.11
695,T20I # 1879,Pakistan Vs England,England,4,Ben Stokes,not out,52,49,5,1,106.12
696,T20I # 1879,Pakistan Vs England,England,5,Harry Brook,out,20,23,1,0,86.95
697,T20I # 1879,Pakistan Vs England,England,6,Moeen Ali,out,19,13,3,0,146.15
698,T20I # 1879,Pakistan Vs England,England,7,Liam Livingstone,not out,1,1,0,0,100.00

In [20]:
df1.rename({"4s":"fours","6s":"six"},axis=1)

,match_id,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,fours,six,SR
0,T20I # 1823,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,out,3,6,0,0,50.00
1,T20I # 1823,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,out,9,9,1,0,100.00
2,T20I # 1823,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,out,20,12,1,2,166.66
3,T20I # 1823,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,out,26,24,2,0,108.33
4,T20I # 1823,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,out,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...,...
694,T20I # 1879,Pakistan Vs England,England,3,Phil Salt,out,10,9,2,0,111.11
695,T20I # 1879,Pakistan Vs England,England,4,Ben Stokes,not out,52,49,5,1,106.12
696,T20I # 1879,Pakistan Vs England,England,5,Harry Brook,out,20,23,1,0,86.95
697,T20I # 1879,Pakistan Vs England,England,6,Moeen Ali,out,19,13,3,0,146.15
698,T20I # 1879,Pakistan Vs England,England,7,Liam Livingstone,not out,1,1,0,0,100.00

In [21]:
batting=df1

###



Bowling

In [22]:
with open (r"C:\Users\Denny\OneDrive\Desktop\data analysis cric\json files\t20_wc_bowling_summary.json") as f:
    df=json.load(f)

In [23]:
bowling=[]
for x in df:
    bowling.extend(x["bowlingSummary"])

In [24]:
df=pd.DataFrame(bowling)

In [25]:
df

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [26]:
df1=df.rename({"4s":"fours","6s":"six","0s":"zeros"},axis=1)

In [27]:
df1["bowlerName"]=df1["bowlerName"].apply(split)

In [28]:
df1

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,zeros,fours,six,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [29]:
df1["match_id"]=df1["match"].map(match_ids_dict)

In [30]:
df1

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,zeros,fours,six,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [31]:
df1=df1[["match_id","match","bowlingTeam","bowlerName","overs","maiden","runs","wickets","economy","zeros","fours","six","wides","noBalls"]]

In [32]:
df1

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,zeros,fours,six,wides,noBalls
0,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,T20I # 1879,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,T20I # 1879,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,T20I # 1879,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,T20I # 1879,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,T20I # 1879,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [33]:
bowling=df1

In [34]:
df3=df1.loc[df1["bowlingTeam"]=="Pakistan"]

In [35]:
df3

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,zeros,fours,six,wides,noBalls
187,T20I # 1842,Pakistan Vs India,Pakistan,Shaheen Shah Afridi,4,0,34,0,8.50,7,4,0,1,0
188,T20I # 1842,Pakistan Vs India,Pakistan,Naseem Shah,4,0,23,1,5.75,10,1,0,0,0
189,T20I # 1842,Pakistan Vs India,Pakistan,Haris Rauf,4,0,36,2,9.00,11,2,2,1,0
190,T20I # 1842,Pakistan Vs India,Pakistan,Shadab Khan,4,0,21,0,5.25,10,2,0,0,0
191,T20I # 1842,Pakistan Vs India,Pakistan,Mohammad Nawaz,4,0,42,2,10.50,8,0,4,2,1
263,T20I # 1849,Zimbabwe Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,29,0,7.25,9,3,0,0,0
264,T20I # 1849,Zimbabwe Vs Pakistan,Pakistan,Naseem Shah,4,0,34,0,8.50,7,4,0,2,0
265,T20I # 1849,Zimbabwe Vs Pakistan,Pakistan,Mohammad Wasim,4,0,24,4,6.00,16,2,1,4,0
266,T20I # 1849,Zimbabwe Vs Pakistan,Pakistan,Haris Rauf,4,1,12,1,3.00,15,0,0,0,0
267,T20I # 1849,Zimbabwe Vs Pakistan,Pakistan,Shadab Khan,4,0,23,3,5.75,8,1,0,0,0
298,T20I # 1852,Netherlands Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,19,1,4.75,13,1,0,1,0
299,T20I # 1852,Netherlands Vs Pakistan,Pakistan,Naseem Shah,4,0,11,1,2.75,15,0,0,0,0
300,T20I # 1852,Netherlands Vs Pakistan,Pakistan,Mohammad Wasim,3,0,15,2,5.00,10,1,0,1,0
301,T20I # 1852,Netherlands Vs Pakistan,Pakistan,Haris Rauf,3,0,10,1,3.33,11,1,0,0,0
302,T20I # 1852,Netherlands Vs Pakistan,Pakistan,Shadab Khan,4,0,22,3,5.50,11,2,0,0,0
303,T20I # 1852,Netherlands Vs Pakistan,Pakistan,Mohammad Nawaz,2,0,11,0,5.50,3,0,0,0,0
386,T20I # 1861,Pakistan Vs South Africa,Pakistan,Shaheen Shah Afridi,3,0,14,3,4.66,11,2,0,0,0
387,T20I # 1861,Pakistan Vs South Africa,Pakistan,Naseem Shah,3,0,19,1,6.33,10,1,1,1,0
388,T20I # 1861,Pakistan Vs South Africa,Pakistan,Haris Rauf,3,0,44,1,14.66,2,7,1,1,0
389,T20I # 1861,Pakistan Vs South Africa,Pakistan,Mohammad Wasim,2,0,13,1,6.50,3,1,0,0,0
390,T20I # 1861,Pakistan Vs South Africa,Pakistan,Shadab Khan,2,0,16,2,8.00,5,1,1,0,0
391,T20I # 1861,Pakistan Vs South Africa,Pakistan,Mohammad Nawaz,1,0,2,0,2.00,4,0,0,0,0
441,T20I # 1872,Bangladesh Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,22,4,5.50,13,2,1,0,0
442,T20I # 1872,Bangladesh Vs Pakistan,Pakistan,Naseem Shah,3,0,15,0,5.00,9,2,0,0,0
443,T20I # 1872,Bangladesh Vs Pakistan,Pakistan,Mohammad Wasim,2,0,19,0,9.50,5,1,1,1,0
444,T20I # 1872,Bangladesh Vs Pakistan,Pakistan,Haris Rauf,4,0,21,1,5.25,11,2,0,0,0
445,T20I # 1872,Bangladesh Vs Pakistan,Pakistan,Shadab Khan,4,0,30,2,7.50,8,3,0,0,0
446,T20I # 1872,Bangladesh Vs Pakistan,Pakistan,Iftikhar Ahmed,3,0,15,1,5.00,9,2,0,0,0
465,T20I # 1877,New Zealand Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,24,2,6.00,11,2,0,0,0
466,T20I # 1877,New Zealand Vs Pakistan,Pakistan,Naseem Shah,4,0,30,0,7.50,8,3,0,0,0
467,T20I # 1877,New Zealand Vs Pakistan,Pakistan,Haris Rauf,4,0,32,0,8.00,6,2,0,0,0
468,T20I # 1877,New Zealand Vs Pakistan,Pakistan,Mohammad Wasim,2,0,15,0,7.50,3,0,1,0,0
469,T20I # 1877,New Zealand Vs Pakistan,Pakistan,Shadab Khan,4,0,33,0,8.25,7,3,1,0,0
470,T20I # 1877,New Zealand Vs Pakistan,Pakistan,Mohammad Nawaz,2,0,12,1,6.00,2,0,0,0,0
494,T20I # 1879,Pakistan Vs England,Pakistan,Shaheen Shah Afridi,2.1,0,13,1,6.00,6,1,0,0,0
495,T20I # 1879,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,T20I # 1879,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,T20I # 1879,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,T20I # 1879,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,T20I # 1879,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [36]:
df3=df3.groupby(["bowlerName"])

In [37]:
df3.get_group("Shaheen Shah Afridi")

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,zeros,fours,six,wides,noBalls
187,T20I # 1842,Pakistan Vs India,Pakistan,Shaheen Shah Afridi,4,0,34,0,8.50,7,4,0,1,0
263,T20I # 1849,Zimbabwe Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,29,0,7.25,9,3,0,0,0
298,T20I # 1852,Netherlands Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,19,1,4.75,13,1,0,1,0
386,T20I # 1861,Pakistan Vs South Africa,Pakistan,Shaheen Shah Afridi,3,0,14,3,4.66,11,2,0,0,0
441,T20I # 1872,Bangladesh Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,22,4,5.50,13,2,1,0,0
465,T20I # 1877,New Zealand Vs Pakistan,Pakistan,Shaheen Shah Afridi,4,0,24,2,6.00,11,2,0,0,0
494,T20I # 1879,Pakistan Vs England,Pakistan,Shaheen Shah Afridi,2.1,0,13,1,6.00,6,1,0,0,0

### 
player info

In [38]:
with open (r"C:\Users\Denny\OneDrive\Desktop\data analysis cric\json files\t20_wc_player_info.json") as f:
    df=json.load(f)

In [39]:
df=pd.DataFrame(df)

In [40]:
df

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c)â€,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [41]:
df["name"]=df["name"].apply(split)

In [42]:
df

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [43]:
players=df

In [44]:
df1=df.groupby(["team"])

In [45]:
df2=df1.get_group("England")

In [46]:
df2.to_csv("eng players.csv")

In [47]:
match_results

,match_id,matchDate,team1,team2,winner,margin,ground
0,T20I # 1823,"Oct 16, 2022",Namibia,Sri Lanka,Namibia,55 runs,Geelong
1,T20I # 1825,"Oct 16, 2022",Netherlands,U.A.E.,Netherlands,3 wickets,Geelong
2,T20I # 1826,"Oct 17, 2022",Scotland,West Indies,Scotland,42 runs,Hobart
3,T20I # 1828,"Oct 17, 2022",Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart
4,T20I # 1830,"Oct 18, 2022",Namibia,Netherlands,Netherlands,5 wickets,Geelong
5,T20I # 1832,"Oct 18, 2022",Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong
6,T20I # 1833,"Oct 19, 2022",Ireland,Scotland,Ireland,6 wickets,Hobart
7,T20I # 1834,"Oct 19, 2022",West Indies,Zimbabwe,West Indies,31 runs,Hobart
8,T20I # 1835,"Oct 20, 2022",Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong
9,T20I # 1836,"Oct 20, 2022",Namibia,U.A.E.,U.A.E.,7 runs,Geelong
10,T20I # 1837,"Oct 21, 2022",Ireland,West Indies,Ireland,9 wickets,Hobart
11,T20I # 1838,"Oct 21, 2022",Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart
12,T20I # 1839,"Oct 22, 2022",Australia,New Zealand,New Zealand,89 runs,Sydney
13,T20I # 1840,"Oct 22, 2022",Afghanistan,England,England,5 wickets,Perth
14,T20I # 1841,"Oct 23, 2022",Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart
15,T20I # 1842,"Oct 23, 2022",India,Pakistan,India,4 wickets,Melbourne
16,T20I # 1843,"Oct 24, 2022",Bangladesh,Netherlands,Bangladesh,9 runs,Hobart
17,T20I # 1844,"Oct 24, 2022",South Africa,Zimbabwe,no result,,Hobart
18,T20I # 1845,"Oct 25, 2022",Australia,Sri Lanka,Australia,7 wickets,Perth
19,T20I # 1846,"Oct 26, 2022",England,Ireland,Ireland,5 runs,Melbourne
20,T20I # 1846a,"Oct 26, 2022",Afghanistan,New Zealand,abandoned,,Melbourne
21,T20I # 1847,"Oct 27, 2022",Bangladesh,South Africa,South Africa,104 runs,Sydney
22,T20I # 1848,"Oct 27, 2022",India,Netherlands,India,56 runs,Sydney
23,T20I # 1849,"Oct 27, 2022",Pakistan,Zimbabwe,Zimbabwe,1 run,Perth
24,T20I # 1849a,"Oct 28, 2022",Afghanistan,Ireland,abandoned,,Melbourne
25,T20I # 1849b,"Oct 28, 2022",Australia,England,abandoned,,Melbourne
26,T20I # 1850,"Oct 29, 2022",New Zealand,Sri Lanka,New Zealand,65 runs,Sydney
27,T20I # 1851,"Oct 30, 2022",Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane
28,T20I # 1852,"Oct 30, 2022",Netherlands,Pakistan,Pakistan,6 wickets,Perth
29,T20I # 1853,"Oct 30, 2022",India,South Africa,South Africa,5 wickets,Perth
30,T20I # 1855,"Oct 31, 2022",Australia,Ireland,Australia,42 runs,Brisbane
31,T20I # 1856,"Nov 1, 2022",Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane
32,T20I # 1858,"Nov 1, 2022",England,New Zealand,England,20 runs,Brisbane
33,T20I # 1859,"Nov 2, 2022",Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide
34,T20I # 1860,"Nov 2, 2022",Bangladesh,India,India,5 runs,Adelaide
35,T20I # 1861,"Nov 3, 2022",Pakistan,South Africa,Pakistan,33 runs,Sydney
36,T20I # 1862,"Nov 4, 2022",Ireland,New Zealand,New Zealand,35 runs,Adelaide
37,T20I # 1864,"Nov 4, 2022",Australia,Afghanistan,Australia,4 runs,Adelaide
38,T20I # 1867,"Nov 5, 2022",England,Sri Lanka,England,4 wickets,Sydney
39,T20I # 1871,"Nov 6, 2022",Netherlands,South Africa,Netherlands,13 runs,Adelaide
40,T20I # 1872,"Nov 6, 2022",Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide
41,T20I # 1873,"Nov 6, 2022",India,Zimbabwe,India,71 runs,Melbourne
42,T20I # 1877,"Nov 9, 2022",New Zealand,Pakistan,Pakistan,7 wickets,Sydney
43,T20I # 1878,"Nov 10, 2022",England,India,England,10 wickets,Adelaide
44,T20I # 1879,"Nov 13, 2022",England,Pakistan,England,5 wickets,Melbourne

In [48]:
batting

,match_id,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,T20I # 1823,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,out,3,6,0,0,50.00
1,T20I # 1823,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,out,9,9,1,0,100.00
2,T20I # 1823,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,out,20,12,1,2,166.66
3,T20I # 1823,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,out,26,24,2,0,108.33
4,T20I # 1823,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,out,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...,...
694,T20I # 1879,Pakistan Vs England,England,3,Phil Salt,out,10,9,2,0,111.11
695,T20I # 1879,Pakistan Vs England,England,4,Ben Stokes,not out,52,49,5,1,106.12
696,T20I # 1879,Pakistan Vs England,England,5,Harry Brook,out,20,23,1,0,86.95
697,T20I # 1879,Pakistan Vs England,England,6,Moeen Ali,out,19,13,3,0,146.15
698,T20I # 1879,Pakistan Vs England,England,7,Liam Livingstone,not out,1,1,0,0,100.00

In [49]:
bowling

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,zeros,fours,six,wides,noBalls
0,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,T20I # 1823,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,T20I # 1879,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,T20I # 1879,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,T20I # 1879,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,T20I # 1879,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,T20I # 1879,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [50]:
players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

###


Downloading files to local folder

In [51]:
match_results.to_csv("match_results.csv")

In [52]:
players.to_csv("players.csv")

In [53]:
bowling.to_csv("bowling.csv")

In [54]:
batting.to_csv("batting.csv")